<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

    <section class="wrapper">

        <div class="container">
            <div class="guess"></div>
            <div id="top">
                <div id="playarea">

                    <input type="text" name="guessLetter" placeholder="Enter a letter" maxlength="1" size "1" autofocus>
                    <input type="submit" value=""><span id="lose">&nbsp;&nbsp;</span>
                </div>
            </div>
            <br>
            <div id="bottom">
                <div class="wrapper-postit">
                    <div class="postit">Letters guessed<br><br> &nbsp;
                    </div>
                </div>
                <div id="right">
                    <div id="wrapper-mode" class="card">
                        Game mode:<br><br>
                        <input type="radio" name="mode" value="easy" checked> Easy: words of 4-6 characters<br>
                        <input type="radio" name="mode" value="normal"> Normal: words of 6-8 characters<br>
                        <input type="radio" name="mode" value="hard"> Hard: words of 8+ characters
                    </div>
                    <p id="message"></p>
                </div>
                <div>
                    </form>
                </div>
            </div>


    </section>





</body>

</html>