<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <title>Word Game!</title>
</head>

<body>


    <div>
        <h1>New Game</h1>
        <form action="/word/newgame" method="get">
            <button type="submit">new game</button></form>
    </div>

    {{#word}}
    <h2>{{#msg}}{{.}}{{/msg}}</h2>

    <div class="guessArea">

        <form action="/word/guess" class="guessForm" method="POST">

            <input type="text" name="letter" maxlength="1" placeholder="enter a letter">
            <button type="submit">Guess</button>

        </form>


    </div>

    {{#turns}}
    <div class="turns"></div>
    {{/turns}}

    <div class="display">
        <h3><span>{{#display}}{{.}}{{/display}}</h3></div>


        <div class="wrong">Wrong Guesses: {{#wrongGuesses}} {{.}} {{/wrongGuesses}}
            {{^wrongGuesses}} {{/wrongGuesses}}
        </div>
        <div class="correct">Correct Guesses: {{#correctGuesses}} {{.}} {{/correctGuesses}}
            {{^correctGuesses}}{{/correctGuesses}}
        </div>


{{/word}}
</body>

</html>