<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WordGame</title>
    <link rel="stylesheet" type="text/CSS" href="/main.css">
</head>

<body>
    <div id="bodyWrapper">
        <div id="header">
            <h1 id='title'>Want to play a word Game?</h1>
        </div>
        <div id="buttonWrapper">
            <a href="/user/easy">
                <div class="diffButton" type="submit" name="easy" value="Easy"></div>
            </a>
            <a href="/user/normal">
                <div class="diffButton" type="submit" name="medium" value="Normal"></div>
            </a>
            <a href="/user/hard">
                <div class="diffButton" type="submit" name="hard" value="Hard"></div>
            </a>
        </div>

    </div>

</body>